<p style="color: green"><%= notice %></p>

<h1>Collections</h1>

<div id="collections" class="row">
  <% @collections.each do |collection| %>
    <div class="col-12 col-md-6">
    <%= render collection %>
    </div>
  <% end %>
</div>

<%= link_to "New collection", new_collection_path %>
