<div class="card collection-item-card h-100">
  <div class="card-body text-center d-flex justify-content-center flex-column">
    <%= link_to new_collection_collection_item_path(@collection) do %>
      <i class="bi bi-plus "></i>
      <h3><%= t('.title') %></h3>
    <% end %>
  </div>
</div>
