.todo-item {
  display: flex;
  flex-direction: row;
  line-height: 2;

  .todo-item-checkbox-container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-right: 0.5rem;

    label.btn-outline-success {
      &:hover {
        color: #fff;

        i.bi:before {
          content: "\f26B";
        }
      }
    }
  }

  .todo-user-avatar{
    margin: 0.5rem;
  }

  &.complete {
    .todo-description {
      text-decoration: line-through;
      color: #6c757d;
    }
  }
}