<%= render CardComponent.new do %>
  <%= vite_image_tag 'images/error_pages/401.jpg', class: 'card-img-top', alt: 'Forbidden ring of power' %>
  <div class="card-body">
    <h5 class="card-title text-center">
      4<i class="far fa-ring-diamond"></i>1 <%= t('error_pages.401.title') %>
    </h5>
    <p class="card-text">
      <%= t('error_pages.401.description') %>
    </p>
  </div>
<% end %>